{% extends 'layout.twig' %}

{% block body %}
    <div class="container-fluid header">
        <div class="row">
            <div class="col-lg-3">
                <a href=""><h1>ChampParser</h1></a>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-5 nav">
                <nav class="top-menu">
                    <a class="btn active" href="">Main</a>
                    <a class="btn" href="">Teams</a>
                    <a class="btn" href="">Players</a>
                    <a class="btn" href="">Goals</a>
                    <a class="btn" href="">Login</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container main">
        <div class="row">
            <div class="col-lg-1 sidebar">
                <nav class="left-menu">
                    <a class="btn {%  if label == 'football' or label == false %} active {% endif %}" href="/football"><i class="fas fa-futbol"></i>Football</a>
                    <a class="btn {% if label == 'basketball' %} active {% endif %}" href="/basketball"><i class="fas fa-basketball-ball"></i>Basketball</a>
                    <a class="btn {%  if label == 'hockey' %} active {% endif %}" href="/hockey"><i class="fas fa-hockey-puck"></i>Hockey</a>
                    <a class="btn {% if label == 'volleyball' %} active {% endif %}" href="/volleyball"><i class="fas fa-volleyball-ball"></i>Volleyball</a>
                </nav>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="match-list">
                    <table class="table">
                        <tr class="thead-dark">
                            <th>League</th>
                            <th>Team 1</th>
                            <th>Team 2</th>
                            <th>Score 1</th>
                            <th>Score 2</th>
                            <th>Date</th>
                        </tr>
                        {% for tournament in tournaments %}
                            {% for match in tournament.matches %}
                                <tr>
                                    <td>{{ match.group.name }}</td>
                                    <td>{{ match.teams[0].name }}</td>
                                    <td>{{ match.teams[1].name }}</td>
                                    <td>{{ match.result.detailed.goal1 }}</td>
                                    <td>{{ match.result.detailed.goal2 }}</td>
                                    <td>{{ match.date }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                    <a href="/{{ label }}/" class="btn btn-more">Get more</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-lg-12"></div>
        </div>
    </footer>
{% endblock %}
